<md-progress-linear class="md-accent" ng-if="vm.false" md-mode="indeterminate"></md-progress-linear>

<md-sidenav md-component-id="left" class="md-sidenav-left">
  <md-list>
    <md-list-item>
      <md-button ng-click="vm.goTo('init')">
        <md-icon>home</md-icon>
        <span> Home </span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="vm.goTo('candidate.list')">
        <md-icon>add_box</md-icon>
        <span> Votar </span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="vm.goTo('results')">
        <md-icon>poll</md-icon>
        <span> Resultados </span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="vm.goTo('user')">
        <md-icon>account_box</md-icon>
        <span> Perfil </span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="vm.goTo('about')">
        <md-icon>info</md-icon>
        <span> ¿Esto qué es? </span>
      </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="vm.openLeftMenu()">
      <md-icon>menu</md-icon>
    </md-button>
    <span>voten.me</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button hide>
      Right Bar Button
    </md-button>
  </div>
</md-toolbar>
