{{vm.user}}

<div class="vote-fab">
  <md-button class="md-fab" ng-click="vm.openBottomSheet()">
    <md-icon>share</md-icon>
  </md-button>
</div>
<div class="vote-container">
  <div flex-gt-xs="50" flex-offset-gt-xs="25">
    <md-card>
      <img ng-src="{{vm.imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Icon action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary md-raised full" ng-click="vm.showConfirm($event)">Votar</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
