<div class="form">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <h2 class="md-headline">¿No te sientes representado?<br>
        Crea tu candidato</h2>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="candidateForm" ng-submit="vm.addCandidate()" novalidate>
        <md-input-container class="md-block">
          <input name="name" ng-model="vm.newCandidate.name" required placeholder="Nombre">
          <div ng-messages="candidateForm.name.$error" ng-show="candidateForm.name.$dirty">
            <div ng-message="required">Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <input name="description" ng-model="vm.newCandidate.description" required placeholder="Descripción">
          <div ng-messages="candidateForm.description.$error" ng-show="candidateForm.description.$dirty">
            <div ng-message="required">Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-input-container>
          <input type="file" ngf-select ng-model="vm.file" name="image"
                     accept="image/*" ngf-max-size="2MB" required
                     ngf-model-invalid="errorFile">
           <div ng-messages="candidateForm.image.$error" ng-show="candidateForm.image.$dirty">
             <div ng-message="maxSize">File too large
                 {{errorFile.size / 2000000|number:1}}MB: max 2MB</div>
             <div ng-message="required">Campo obligatorio</div>
           </div>
           <img ng-show="candidateForm.image.$valid" ngf-thumbnail="vm.file" alt="thumbnail" class="thumbnail">
           <md-button class="md-warn" ng-click="vm.file = null" ng-show="vm.file">Remove</md-button>
        </md-input-container>
        <div>
          <md-checkbox required checked="true">Estoy seguro de mi voto</md-checkbox>
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" ng-disabled="candidateForm.$invalid || vm.status !== 'ON_HOLD' || vm.user.vote === true" class="md-accent md-raised">
            <span ng-if="vm.status == 'PROCESSING'"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>
            <span ng-if="vm.status == 'ON_HOLD'">Crear</span>
          </md-button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>
</div>
